doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Veriun - CSS Framewok
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/app.css')
    style(media="screen").
      
      * {
        cursor: none;
      }
  body
    // partial:index.partial.html
    .p
      .shadow-title.parallax-top-shadow Veriun
      .section-parallax.parallax-00(style="background-image: url('http://www.ivang-design.com/svg-load/parallax/parallax-0.png');")
      .section-parallax.parallax-01(style="background-image: url('http://www.ivang-design.com/svg-load/parallax/parallax-01.png');")
    .section.full-height
      .section-title-wrap
        .container
          .row
            .col-12.text-center.parallax-fade-top
              div(style='position:relative')
                h1 Veriun
                .title-line(style='transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: 0% 50% 0px;')
                .title-line-2(style='transform: matrix(1, 0, 0, 1, 0, 0); transform-origin: 0% 50% 0px;')
              p.text-center.mb-0(style='font-size: 16px;')
                | Veriun CSS es un marco CSS de bajo nivel altamente personalizable
                br
                |  que le brinda todos los componentes básicos
              .button.watch-button.anim(style='cursor: pointer; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);', onclick="openVideo('RUe5K0qtiqY')")
                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 145 40', style='enable-background:new 0 0 145 40;', xml:space='preserve')
                  rect(style='fill: transparent; stroke: #6f598f; stroke-miterlimit: 10; stroke-dashoffset: 0px;', width='143', height='38', x='1', y='1')
                .button-label Próximamente!
    
    //
      Scroll back to top
      ==================================================
    .scroll-to-top.hover-target
    //
      Page cursor
      ==================================================
    //
      <div class="cursor cursor-shadow" id="cursor"></div>
      <div class="cursor cursor-dot" id="cursor2"></div>
    #cursor.cursor.cursor-shadow
    #cursor2.cursor2
    #cursor3.cursor3
    //
      Link to page
      ==================================================
    a.link-to-portfolio.hover-target(href='', target='”_blank”')
    // partial
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/utils/Draggable.min.js')
    script(src='./js/app-dev.js')
    script.
      //Scroll back to top
      var t = document.getElementById("cursor"),
      e = document.getElementById("cursor2"),
      i = document.getElementById("cursor3");

      const cursor = document.querySelector('.cursor');
      const cursor2 = document.querySelector('.cursor2');

      document.addEventListener('mousemove', n => {
         t.style.left = n.clientX + "px",
         t.style.top = n.clientY + "px",
         e.style.left = n.clientX + "px",
         e.style.top = n.clientY + "px",
         i.style.left = n.clientX + "px",
         i.style.top = n.clientY + "px"
      })
