body, html{
	moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
}

$maincolor: #6f598f;
$bgcolor: #1f2029;
$magicCubic: cubic-bezier(0.165, 0.84, 0.44, 1);
.cursor {
    --size: 8px;
    height: var(--size);
    width:  var(--size);
    border-radius: 50%;
    position: absolute;
    z-index: 10000;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor.cursor-shadow {
    background-color: #fff;
		width: 5px;
		    transform: translate(15px, 15px);
		height: 5px;


    --size: 40px;
    transition: top .2s, left .2s,
                width .2s, height .2s,
                background-color .2s, border-color 0.2s;
    transition-timing-function:  cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;

	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	position: fixed;
	z-index:99998;
	border-radius: 50%;
	-webkit-transition:all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition:all 0.3s linear;
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	box-shadow: 0 0 0 rgba(255, 255, 255, 0.2);
}
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
body{
	font-family: 'Raleway', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.65;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	letter-spacing: 0.2px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
.o-text{

}

::selection {
	background-color: #000;
  color: #fff;
}
::-moz-selection {
	background-color: #000;
  color: #fff;
}
a:hover{
  text-decoration: none;
}


.shadow-title{
	position: fixed;
	top: 0;
	margin-top: 30px;
	left: 20px;
	width: 100%;
	height: 300%;
	text-align: left;
	    font-family: 'Poppins', sans-serif;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	font-size: 18vw;
	line-height: 1;
	color: rgba(200,200,200,.1);
	background: linear-gradient(90deg, rgba(200,200,200,0), rgba(200,200,200,0.35));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
	z-index: 1;
}
.section-parallax{
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: 2;
}
.section {
  position: relative;
	width: 100%;
	display: block;
}
.full-height {
	height: 100vh;
}
.section.z-bigger {
	z-index: 100;
}
.section.z-bigger-2 {
	z-index: 200;
}
.section-title-wrap{
	position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 3;
}
.section-title-wrap .p{
	letter-spacing: 2px;
	font-size: 22px;
	font-weight: 700;
	padding: 0;
  color: #6f598f;
}
.section-title-wrap h1{
	font-family: 'Muli', sans-serif;
    font-size: 12vw;
    font-weight: 900;
    line-height: 1;
    color: var(--white);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.padding-top-bottom {
	padding-top: 100px;
	padding-bottom: 100px;
}
.over-hide{
	overflow: hidden;
}
.p{

}
.background-dark {
	background-color: #101010;
}
.project-link-wrap{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}
.project-link-wrap p{
	font-size: 100px;
	line-height: 80px;
	color: #c4c3ca;
	font-weight: 900;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	opacity: 0.35;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.project-link-wrap:hover p{
	opacity: 0.15;
}


.case-study-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	width: auto;
	margin: 0;
	padding: 8px 15px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	list-style: none;
  background-color: rgba(31,32,41,.8);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,.8);
}
.case-study-wrapper .case-study-name {
	margin: 5px;
	display: inline-block;
}
.case-study-wrapper .case-study-name a {
	position: relative;
	list-style: none;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 0;
	font-size: 14px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 2px;
	color: #8e8d9a;
	opacity: 0.5;
	text-decoration: none;
  text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-wrapper .case-study-name a:hover {
	text-decoration: none;
}
.case-study-wrapper .case-study-name.active a {
	opacity: 1;
	color: #fff;
}
.case-study-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin:0;
	z-index:2;
}
.case-study-images li {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	list-style:none;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li .img-hero-background{
	position: absolute;
	width: calc(100% - 80px);
  max-width: 950px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center center;
	background-repeat:no-repeat;
	top: 50%;
	left: 50%;
	overflow: hidden;
	list-style:none;
	opacity: 0;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,.6);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li .img-hero-background img{
  width: 100%;
  height: auto;
  display: block;
}
.case-study-images li.show .img-hero-background {
	opacity: 1;
}
.case-study-images li .case-study-title{
	position: absolute;
	top: 0;
  height: 100%;
  text-align: center;
	left: 30px;
	display: block;
	opacity: 0;
	z-index: 19;
	letter-spacing: 1px;
	font-size: 14px;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	font-weight: 400;
	line-height: 16px;
	color: #fff;
	font-style: italic;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li.show .case-study-title {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.case-study-images li .hero-number-back{
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	list-style:none;
	opacity: 0;
	font-size: 100px;
	font-weight: 900;
	line-height: 1;
	color: rgba(255,255,255,.2);
	z-index: 5;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li .hero-number{
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 40px;
	margin-left: -70px;
	display: block;
	letter-spacing: 2px;
	text-align: center;
	list-style:none;
	opacity: 0;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	color: #fff;
	z-index: 6;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.case-study-images li .hero-number-fixed{
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: 30px;
	width: 40px;
	text-align: center;
	display: block;
	letter-spacing: 2px;
	list-style:none;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	color: #fff;
	z-index: 6;
}
.case-study-images li .hero-number-fixed:before{
	position: absolute;
	content: '';
	top: 50%;
	left: -60px;
	width: 60px;
	height: 1px;
	z-index: 1;
	background-color: rgba(255,255,255,.4);
}
.case-study-images li.show .hero-number {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.case-study-images li.show .hero-number-back {
	opacity: 1;
}


.scroll-to-top{
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0;
	visibility: hidden;
	width: 10px;
	height: 40px;
	z-index: 251;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 10px 40px;
	cursor: pointer;
	background-image: url('http://www.ivang-design.com/svg-load/parallax/arrow-up.png');
	transform: translateY(-15px);
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}
.scroll-to-top:hover{
	bottom: 32px;
}
.scroll-to-top.active-arrow{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* #Media
================================================== */

@media (max-width: 1200px) {
  .scroll-to-top{
    right: 13px;
  }
  .case-study-images li .case-study-title{
    left: 13px;
  }
}

@media (max-width: 991px) {
	.case-study-images li .hero-number-back{
		font-size: 26vw;
	}
}

@media (max-width: 767px) {
  .case-study-wrapper {
    background-color: rgba(31,32,41,.95);
    box-shadow: 0 0 10px rgba(0,0,0,.8);
  }
	.case-study-wrapper .case-study-name a {
		font-size: 11px;
		letter-spacing: 1px;
    text-align: center;
    margin: 5px;
	}
	.case-study-wrapper .case-study-name {
    margin: 0 auto;
    text-align: center;
	}
	.case-study-images li .hero-number-back{
		font-size: 32vw;
	}
}


.link-to-portfolio {
	  position: fixed;
    top: 30px;
    right: 30px;
    z-index: 20;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: cover;
    background-image: url('https://ivang-design.com/ig-logo.jpg');
    box-shadow: 0 0 0 2px rgba(255,255,255,.1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(255,255,255,.1);
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.parallax-00{
	transform: translatey(0px);
		animation: float 6s ease-in-out infinite;
		animation-delay: 1.5s;
}
.parallax-01{
	transform: translatey(0px);
		animation: float 6s ease-in-out infinite;
}
.watch-button rect {
    stroke-dasharray: 370;
    stroke-dashoffset: 370;
}
.watch-button .button-label {
    position: absolute;
    top: 50%;
    left: 50%;
		transform: translate(-50%, -50%);

    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #6f598f;
		width: 100%;

}
.watch-button {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
        width: 192px;
    height: 52px;
}


.title-line {
    position: absolute;
    top:50%;
		left: 100px;
		transform: translate(-50%, -50%);
    width: 192px;
    height: 4px;
    background-color: #6f598f;
}

.title-line-2 {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(-50%, -50%);
    width: 192px;
    height: 4px;
    background-color: #6f598f;
}



.page-container {
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: var(--back-color);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "content"
        "menu";
    grid-template-columns: 100%;
    grid-template-rows: calc(100vh - 62px) 62px;
}

header.menu {
    grid-area: menu;
}
@media screen and (min-width: 900px){
.menu {
    //padding-top: 23.5vh;
}
}
@media screen and (min-width: 600px){
.menu {
    //border-top: none;
    //border-right: 1px solid var(--menu-border-color);
    //padding-top: 17vh;
}
}
.menu {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: var(--menu-back-color);
    border-top: 1px solid var(--menu-border-color);
}


@media screen and (min-width: 830px){
	.content {
	    padding-left: calc((100% - 830px)/2);
	    padding-right: calc((100% - 830px)/2);
	}
}
.content {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    grid-area: content;
    overflow: auto;
    overflow-x: hidden;

		height: 100vh;
}
.menu .menu-button {
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: transparent;
    color: var(--menu-fore-color);
		z-index: 99;
		padding: 0 10px !important;
    text-align: center;

}
@media screen and (min-width: 600px){
	.page-container {
	    grid-template-areas: "menu content";
	   grid-template-columns: 250px calc(100vw - 62px);
	    grid-template-rows: 100%;
	}
}



.menu span {
	display: flex;
	align-items: center;
	justify-content: center;
	//height: 61px;
	padding: 0 20px;
	padding-bottom: 30px;
	//margin-bottom: 5px;
	//padding: 0 20px;
	&:first-child{
		padding-top: 0;
	}
	&:last-child{
		padding-bottom: 0;
	}
	a{
		display: flex;
		align-items: center;

		width: 100%;
		    z-index: 999;
	}

    width: 100%;

		position: relative;
		&:before{
			display: none;
			content: "";
			position: absolute;
			width: 40px;
			height: 40px;
			background: #c2c2c2;
			opacity: 0;
			border-radius: 50%;
			transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
			    z-index: 40;
		}
		&:hover{
			&:before{
				opacity: .6;
			}
		}

}


.menu .menu-button svg {
    color: #ababab;
		    margin-right: 12px;
}
.menu-items{
	font-weight: 700;
}

header.menu{
	padding: 30px 0;
	position: relative;
	background-color: #323340 !important;
	 box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
	 width: 250px;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
    width: 2px;
		//height: 1px;
		background-color:  $maincolor;

	}
}

.border-line {
    position: absolute;
    bottom: 0;
    height: 5px;
  width: 10px;
    background: red;
}

.link-menu{
	position: relative;
	padding: 0 10px;
}

.magic-line{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  pointer-events: none;

  transition: transform .3s $magicCubic, background .3s $magicCubic;

  backface-visibility: hidden;
  transform-style: preserve-3d;
  will-change: transform;
	    width: 100%;

			    list-style: none;
					    padding: 8px 18px;

					> div{
						width: 100%;
						height: 100%;
							border-radius: 6px;
							    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);

					}

}

.link-menu.active{
	 a{
		color: $maincolor;
		transition: color .3s $magicCubic;
		svg{
			color: $maincolor;
			transition: color .3s $magicCubic;
		}
	}

}
